<footer class="footer container d-flex flex-column align-items-center pb-4">
    <div>footer menu missing</div>
    <div class="border-top">
      <div class="pt-3"><strong>RAY'S PERSONAL SITE</strong></div>
      <div class="d-flex flex-row">
        <p class=""><strong>P:</strong>&nbsp;<span>093 735 2066</span></p>&nbsp;&nbsp;|&nbsp;&nbsp;
        <p class=""><strong>E:</strong>&nbsp;<span>sonrin746@gmail.com</span></p>
      </div>
    <div><span>© Nguyen Son Rin 2022 . All Rights Reserved.</span></div>
    </div>
  </footer>