<footer class="container-fluid mt-5 pb-4 text-muted">
   <div class="container border-top d-flex flex-column justify-content-center align-items-center pt-3">
      <div class="text-center"><strong>RIN'S PERSONAL SITE</strong></div>
      <div class="d-flex flex-row">
        <div class="d-flex flex-row">
          <p><strong>P:</strong>&nbsp;<a class="text-muted" href="tel:0937352066">093 735 2066</a></p>
        </div>
        <div><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span></div>
        <div>
          <p class="d-flex flex-row"><strong>E: </strong>&nbsp;<a class="text-muted" href="mailto:sonrin746@gmail.com">sonrin746@gmail.com</a></p> 
        </div>
      </div>
      <div><p class="license">© Nguyen Son Rin 2022 . All Rights Reserved.</p></div>
   </div>
</footer>
