footer{
    bottom: 10px;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
}

.license {
    font-size: 12px;
}

@media (min-width: 768px) {
    footer{
        font-size: 16px;
    }
    
    .license {
        font-size: 15px;
    }
}
