<footer class="container-fluid">
  <div class="container">
    <div class="details d-flex flex-column flex-lg-row justify-content-between align-items-start">
      <div>
        <img class="mx-1 logo" src="../assets/svg/logo_light.svg" alt=""> 
        <p><br>animation zone!!!</p>
      </div>
      <div></div>
      <div class="d-flex flex-column">
        <a class="m-2" routerLink="/home"> HOME </a>
        <a class="m-2" routerLink="/projects"> PROJECTS </a>
        <a class="m-2" routerLink="/gallery"> GALLERY </a>
        <a class="m-2" routerLink="/contact"> CONTACT </a>
      </div>
      <div class="d-flex flex-column">
        <p>Mỹ Bình, Phan Rang-Tháp Chàm,<br> Ninh Thuận, Việt Nam</p>
        <a class="" href="mailto:sonrin746@gmail.com">sonrin.work@gmail.com</a>
        <a class="" href="tel:0937352066">093 735 2066</a>
      </div>
    </div>
    <div class="license d-flex flex-row justify-content-between align-items-center w-100 ">
      <span>© Nguyen Son Rin 2023</span>
      <div class="">
        <a href="https://www.behance.net/sonrin" target="_blank"><span class="icon mx-2"><i class="fa-brands fa-behance fa-xl"></i></span></a>
        <a href="https://dribbble.com/SliverRay" target="_blank"><span class="icon mx-2"><i class="fa-brands fa-dribbble fa-xl"></i></span></a>
        <a href="https://github.com/slivereye746" target="_blank"><span class="icon ms-2"><i class="fa-brands fa-github fa-xl"></i></span></a>
      </div>
    </div>
  </div>
</footer>
