header{
    background-color: #ffffff
}

.nav-link{
    font-size: 16px;
    font-weight: 600;
    color: #828285;
}

.on{
    color: #1c1c1f;
    text-decoration: underline;
}

.nav-link:hover{
    color: #F09B00;
}

