<header class="container">
    <div class="bg-warning py-2"> 
        Building...
    </div>
    <div class="navbar">
        <div>
          <a class="navbar-brand" href="#"><img src="../assets/svg/logo-box.svg" alt=""></a>  
        </div>
       <div>
        <nav class="navbar-list">
          <a class="nav-item on" href="#home"> HOME </a>
          <a class="nav-item" href="#projects"> PROJECTS </a>
          <a class="nav-item" href="#gallery"> GALLERY </a>
          <a class="nav-item" href="#contact"> CONTACT </a>
      </nav> 
       </div>
       <button type="button" class="btn btn-primary mb_menu" data-bs-toggle="modal" data-bs-target="#mobileMenu">
        <i class="fa fa-bars"></i>
      </button>
    </div>
</header>
<!-- Modal -->
<div class="modal fade" id="mobileMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content blur">
      <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        
        </button>
      </div>  -->
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body text-center" data-bs-dismiss="modal" aria-label="Close">
      </div>
      <div class="mb_link d-flex flex-column text-center position-absolute top-30 start-50 translate-middle-x mt-5">
          <a class="navbar-brand" href="#"><img src="/svg/logo-box.svg" alt=""></a>
          <a href="#home" class="active">Home</a>
          <a href="#news">News</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
        </div>
    </div>
  </div>
</div>