<header class="container">
    <div class="bg-warning py-2"> 
        Building...
    </div>
    <div class="navbar mb-3">
      <a class="navbar-brand me-auto p-2 d-none d-lg-block" href="#"><img src="../assets/svg/logo-box.svg" alt=""></a>  
      <nav class="navbar-list d-none d-lg-block">
        <a class="nav-item on" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" href="#home"> HOME </a>
        <a class="nav-item ms-3" href="#projects"> PROJECTS </a>
        <a class="nav-item ms-3" href="#gallery"> GALLERY </a>
        <a class="nav-item ms-3" href="#contact"> CONTACT </a>
      </nav>
       <button type="button" class="btn btn-link mb_menu d-lg-none ms-auto" data-bs-toggle="modal" data-bs-target="#mobileMenu"><img src="../assets/svg/navbar_menu_mb.svg" alt=""></button>
    </div>
</header>
<!-- Modal -->
<div class="modal fade" id="mobileMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content blur">
      <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>  -->
      
      <div class="modal-body text-center" data-bs-dismiss="modal" aria-label="Close">
      </div>
      <div class="mb_link d-flex flex-column text-center position-absolute top-30 start-50 translate-middle-x pt-5">
          <a class="navbar-brand mb-2" href="#"><img src="../assets/svg/logo-box.svg" alt=""></a>
          <a class="nav-item-mb on mt-3" href="#home">HOME</a>
          <a class="nav-item-mb mt-3" href="#news">PROJECTS</a>
          <a class="nav-item-mb mt-3" href="#contact">GALLERY</a>
          <a class="nav-item-mb mt-3" href="#about">CONTACT</a>
        </div>
    </div>
  </div>
</div>