header{
    background-color: #ffffff
}

.navbar div {
    display: none;
}

.nav-item{
    font-size: 16px;
    font-weight: 600;
    color: #828285;
}

.on{
    color: #1c1c1f;
}

.nav-item:hover{
    color: #F09B00;
}

.navbar_mb {
    display: block;
    margin-right: 20px;
    height: 60px;
    width: 100vw;
    background-color: #828285;
}

.nav-item-mb {
    font-weight: 600;
    color: #828285;
  }
.nav-item-mb.on {
color: #ffffff;
}

.mb_menu {
    display: block;
}

.blur {
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6);
}



/* @media
@media (min-width: 576px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200) { ... }


@media (min-width: 1400px) { ... }
*/

@media (min-width: 1350px) { 
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar div {
        display: block;
    }
    
    .mb_menu {
        display: none;
    }
}
