<header>
    <div class="bg-warning py-2"> 
        Building...
    </div>
    <nav id="">
    <div class="container">
        <a class="" href="#"><img src="../assets/svg/logo-box.svg" alt="LOGO"></a>
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
        <span class=""></span>
        </button>
        <div class="" id="main_nav">
            <ul  class="navbar-nav ms-auto">
                <li class="px-3"><a class="nav-link on" href="#"> HOME </a></li>
                <li class="px-3"><a class="nav-link" href="#"> PROJECTS </a></li>
                <li class="px-3"><a class="nav-link" href="#"> GALLERY </a></li>
                <li class="px-3"><a class="nav-link" href="#"> CONTACT </a></li>
            </ul>
        </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
    </nav>
</header>