.main{
    display: flex;
    align-items: start;
    gap: 1rem;
}

.menu {
    width: 180px;
    position: sticky;
    top: 0;
    padding-top: 10px;
}
.menu-link{
    width: 100%;
    font-weight: 400;
    color: #898989;
}
.menu-link:hover{
    color: #303030;
    background-color: #f3f3f3;
}   
.menu-link.active{
    color: #131315;
    background-color: #eaeaea;
}

.projects {
    width: 100%;
    columns: 1;
    break-inside: avoid;
    margin-top: 10px;
} 

.projects_item {
    width: 100%;
    break-inside: avoid;
} 
.projects_item_img {
    width: 100%;
}



@media (min-width: 768px) { 
    .projects {
        columns: 2;
    }
}

@media (min-width: 1350px) { 
    .projects {
        columns: 3;
    }
}