<div class="container d-flex">
    <div class="d-none d-lg-block menu">
      <div class="d-flex flex-column me-3">
          <a class="menu-link mb-1 ps-4 py-2 rounded-3" routerLink="/projects" routerLinkActive="active">New</a>
          <a class="menu-link mb-1 ps-4 py-2 rounded-3" routerLink="/home" routerLinkActive="active">Company x</a>
          <a class="menu-link mb-1 ps-4 py-2 rounded-3" routerLink="/home" routerLinkActive="active">Company x</a>
          <a class="menu-link mb-1 ps-4 py-2 rounded-3" routerLink="/home" routerLinkActive="active">Company x</a>
      </div>
    </div>
    <div class="projects grid">
        <div class="projects_item mx-3 mb-3" *ngFor="let project of projects"> 
            <div class="d-flex flex-column">
              <img [src]="project.link" alt="" class="projects_item_img">
            </div>
          </div>
    </div>
</div>

