<div class="container d-flex main">
    <div class="d-none d-lg-block menu me-3">
      <div class="d-flex flex-column">
          <a class="menu-link mb-1 ps-4 py-2 rounded-3" routerLink="/projects" routerLinkActive="active">New</a>
          <a class="menu-link mb-1 ps-4 py-2 rounded-3" routerLink="/home" routerLinkActive="active">Company x</a>
          <a class="menu-link mb-1 ps-4 py-2 rounded-3" routerLink="/home" routerLinkActive="active">Company x</a>
          <a class="menu-link mb-1 ps-4 py-2 rounded-3" routerLink="/home" routerLinkActive="active">Company x</a>
      </div>
    </div>
    <div class="projects grid">
      <div class="projects_item mb-3" *ngFor="let project of projects"> 
        <div class="d-flex flex-column">
          <img [src]="project.link" alt="" class="projects_item_img">         
          <a routerLink="/project/{{project.id}}">{{ project.name }}</a>
        </div>
      </div>
    </div>
</div>

