<div class="container">
    <div class="main-headbox d-flex flex-column align-items-lg-start align-items-center mr-auto">
        <div class="mt-2 mb-3">
            <p class="vote-1st">Let’s talk</p>
            <p class="vote-2nd wi-60">If you have an ideal in mind or are simply interested in finding out more, get in touch and let’s get things moving.</p>
            <a class="vote-link" href="mailto:sonrin.work@gmail.com">sonrin.work@gmail.com</a>
        </div> 
        
      </div>
           
      <!--
        <p class="text-center or">- or -</p>
        <div class="main-headbox d-flex justify-content-lg-between">
        <form class="w-50 me-5">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div class="ms-5 w-50">
            <p class="vote-1st">Send me a message</p>
            <p class="vote-2nd">Use the contact form to send me a message and I’ll get back to you soon.</p>
        </div> 
      </div>
      -->
</div>