<div class="container">
    <p>gallery works!</p>
    <h2>My Heroes</h2>
    <div class="images grid">
        <div class="images_item p-3 g-col-4" *ngFor="let image of shuffleArray(images)"> 
            <div class="d-flex flex-column">
              <img [src]="image.link" alt="" class="images_item_img mb-3 rounded">
              <span class="images_item_text mb-3">{{ transformDateToTimeAgo(image.date) }} / {{image.description}}</span>
              <button>share</button>
            </div>
          </div>
    </div>
</div>
