@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');

.header #vote {
  padding-top:10%;
}
.header #vote p{
  font-size: 86px;
  margin: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #000000;
}

.header #header-description {
  line-height: 34px;
  margin: 0 auto;
  padding-bottom: 5%;
  font-style: italic;
  font-size: 20px;
  color: #666666;
}

.header #header-description p{
  font-weight:normal;
  width: 100%; 
}
.header img {
  width: 600px;
}

.contact {
  width: 210px;
  height: 55px;
  font-size: 20px;
  border-radius: 2em;
  border-color: #FFA415;
}