@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');

.header #vote {
  padding-top:10%;
}
.header #vote p{
  font-size: 86px;
  margin: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #000000;
}

.header #header-description {
  line-height: 34px;
  margin: 0 auto;
  padding-bottom: 5%;
  font-style: italic;
  font-size: 20px;
  color: #666666;
}

.header #header-description p{
  font-weight:normal;
  width: 100%; 
}
.header #dan_snow {
  width: 540px;
  padding: 30px;
  border: 1px solid #ececec;
  border-radius: 50%;
  box-shadow: rgba(115, 115, 121, 0.2) 0px 7px 29px 0px;
}

#contact_btn {
  width: 210px;
  height: 56px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2em;
  border-style: solid;
  border-color: #FFA415;
  background-color: inherit;
}

#contact_btn img {
  width: 1.2em;
  margin-left: 0.5em;
}