<app-navbar></app-navbar>
<div class="container header">
    <div class="d-flex">
      <div class="mr-auto">
        <div id="vote">
          <p>Nguyen S. Rin</p>
          <p>UX/UI Designer</p>
        </div>     
        <div id="header-description">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste dolore temporibus fuga, magnam fugiat doloremque voluptate recusandae facere aliquid totam nam quasi nobis optio praesentium, esse illum animi vitae error!</p>
        </div>  
        <button type="button" id="contact_btn">Let's Talk <span><img src="../assets/svg/right_arow.svg" alt="LOGO"></span></button>
      </div>
      <div>
        <img id="dan_snow" src="../assets/img/DanGirlAndSnow-square.jpg" alt=""> 
      </div>
    </div>
    <div class="d-flex my-4">
      <hr class="mr-auto mt-4" style="width:100%;">
      <div class="mx-3 d-flex ">
        <span class="main-icon-link mx-2"><i class="fa-brands fa-behance fa-xl"></i></span>
        <span class="main-icon-link mx-2"><i class="fa-brands fa-dribbble fa-xl"></i></span>
        <span class="main-icon-link mx-2"><i class="fa-brands fa-github fa-xl"></i></span>
      </div>
    </div>
</div>

<!--
  <div class="semi-dark skills">
  <div class="container">
    <div class="title">
      <div class="title-lv1">Lorem ipsum dolor sit amet consectetur</div> 
      <div class="title-description">Flexible, Interactive Traing For All Levels</div>
      <div class="title-semi-description">learn at your own pace from anywhere in the world</div>
    </div>
    <div class="resource-list">
      <ul>
        <li>
          <a href="#">Item 1</a>
        <li>
          <a href="#">Item 2</a>
        </li>
        <li>
          <a href="#">Item 3</a>
        </li>
      </ul>
    </div>
    <div class="bttns">
      <a href="#" class="bttn primary">Blue ligh btt</a>
      <a href="#" class="bttn secondary">Border btt</a>
    </div>
  </div>
</div>
-->
<app-footer></app-footer>