<app-navbar></app-navbar>
<div id="content" class="container">
  <div class="header">
    <pre>Design and
Graphic design</pre>       
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste dolore temporibus fuga, magnam fugiat doloremque voluptate recusandae facere aliquid totam nam quasi nobis optio praesentium, esse illum animi vitae error!</h2>
    <div class="bttns">
      <a href="#" class="bttn primary">Blue ligh btt</a>
      <a href="#" class="bttn secondary">Border btt</a>
    </div>
  </div>
  <div class="title">
    <div class="title-lv1">Chương Trình Đào Tạo </div> 
    <div class="title-description">Flexible, Interactive Traing For All Levels</div>
    <div class="title-semi-description">learn at your own pace from anywhere in the world</div>
  </div>
  <div class="resource-list">
    <ul>
      <li>
        <a href="#">Item 1</a>
      <li>
        <a href="#">Item 2</a>
      </li>
      <li>
        <a href="#">Item 3</a>
      </li>
    </ul>
  </div>
  <footer class="footer">
  Footer
  </footer>
</div>
