#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
}

#content {
  margin: 0 auto;
}

.header{
  background-image: url("../assets/img/ssf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header #vote {
  padding-top:5%;
}
.header #vote p{
  font-size: calc(max(5vw, 32px));
  margin: 0;
}

.header #header-description {
  line-height: 34px;
  margin: 0 auto;
  padding-bottom: 5%;
}

.header #header-description p{
  font-weight: 500;
  width: 50%;
}

@media only screen and (max-width: 450px) {
  .header h2 {
    width: 90%;
    padding: 5%;
  }
}

.title {
  text-align: center;
}
.title-lv1 {
  font-size: 50px;
  font-weight: 700;
}
.title-description {
  font-size: 25px;
  font-weight: 700;
}
.title-semi-description {
  font-size: medium;
  font-weight: 500;
  color: #7B878F;
  text-transform: uppercase;
}

.bttns{
  margin-bottom: 5%;
  width: 100%;
}

.bttn{
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin: 0 1%;
  text-decoration: none;
}

.bttn.primary{
  display: inline-block;
  width: max-content;
  background: #21A69A;
  border: none;
  color: white;
  box-shadow: -3px 3px 5px rgb(35 33 33 / 23%);
}

.bttn.primary:hover {
  background: #21a69a;
  box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%);
  /* -webkit-box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%); */
}

.bttn.secondary{
  background: transparent;
  border: #093C4F 2px solid;
  color: #0D1D24;
}

.bttn.secondary:hover {
  background: #05171f;
  color: white;
}

.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  text-align: center;
  width: 100%;
}

.resource-list ul {
  text-align: left;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.resource-list li {
  padding: 2%;
  font-weight: bold;
}

.resource-list a {
  color: black;
  line-height: 30px;
  font-size: larger;
  padding: 10px;
  text-align: center;
}