<app-navbar></app-navbar>
<div id="content" class="container header d-flex flex-column">
    <div id="vote">
      <p><span style="color:#DE4110">DESIGN</span> AND</p>
      <p>GRAPHIC DESIGN</p>
    </div>     
    <div id="header-description">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste dolore temporibus fuga, magnam fugiat doloremque voluptate recusandae facere aliquid totam nam quasi nobis optio praesentium, esse illum animi vitae error!</p>
    </div>
    <img src="../assets/img/ssf.png" alt="">
</div>
<div class="semi-dark skills">
  <div class="container">
    <div class="title">
      <div class="title-lv1">Chương Trình Đào Tạo </div> 
      <div class="title-description">Flexible, Interactive Traing For All Levels</div>
      <div class="title-semi-description">learn at your own pace from anywhere in the world</div>
    </div>
    <div class="resource-list">
      <ul>
        <li>
          <a href="#">Item 1</a>
        <li>
          <a href="#">Item 2</a>
        </li>
        <li>
          <a href="#">Item 3</a>
        </li>
      </ul>
    </div>
    <div class="bttns">
      <a href="#" class="bttn primary">Blue ligh btt</a>
      <a href="#" class="bttn secondary">Border btt</a>
    </div>
  </div>
</div>

<footer class="footer container d-flex flex-column align-items-center pb-4">
  <div>menu bottom</div>
  <div class="border-top">
    <div class="pt-3"><strong>RAY'S PERSONAL SITE</strong></div>
    <div class="d-flex flex-row">
      <p class=""><strong>Điện thoại:</strong>&nbsp;<span>093 735 2066</span></p>&nbsp;&nbsp;|&nbsp;&nbsp;
      <p class=""><strong>Email:</strong>&nbsp;<span>sonrin746@gmail.com</span></p>
    </div>
  <div><span>© Nguyen Son Rin 2022 . All Rights Reserved.</span></div>
  </div>
</footer>