.scroll-to-top {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}
.cls-1 {
    fill: #666666;
    transition: fill 0.5s ease, box-shadow 0.3s ease;
    opacity: 0.6;
}
.cls-1:hover {
    fill: #201a0f;
    box-shadow: 2px 8px 8px 2px rgba(173, 173, 173, 0.2);
    opacity: 1;
}
