<div *ngIf="project">

    <h2>{{project.name | uppercase}} Details</h2>
    <div><span>id: </span>{{project.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="project.name" placeholder="name">
    </div>
  
  </div>
  <button type="button" (click)="goBack()">go back</button>

  <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200">
    <rect id="myRect" x="50" y="50" width="100" height="100" fill="blue" />
    
    <script type="text/ecmascript">
      var rect = document.getElementById('myRect');
      
      rect.addEventListener('mouseover', function() {
        rect.setAttribute('fill', 'red');
      });
      
      rect.addEventListener('mouseout', function() {
        rect.setAttribute('fill', 'blue');
      });
    </script>
  </svg>
  