<div *ngIf="project">

    <h2>{{project.name | uppercase}} Details</h2>
    <div><span>id: </span>{{project.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="project.name" placeholder="name">
    </div>
  
  </div>
  <button type="button" (click)="goBack()">go back</button>

  
<svg
width="120"
height="120"
viewBox="0 0 1200 1200"
xmlns="http://www.w3.org/2000/svg">
<polygon points="60,30 90,90 30,90">
  <animateMotion
  dur="10s"
  repeatCount="indefinite"
  path="M20,50 C20,-50 180,150 180,50 C180-50 20,150 20,50 z" />
  <animateTransform
    attributeName="transform"
    attributeType="XML"
    type="rotate"
    from="0 60 70"
    to="360 60 70"
    dur="10s"
    repeatCount="indefinite" />
</polygon>
</svg>

<svg width="120"
height="120" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250.56 173.74">
  <defs>
    <style>
      .cls-1, .cls-2 {
        fill: #fff;
      }

      .cls-3 {
        fill: none;
        filter: url(#outer-glow-3);
        stroke: #f1f2ca;
        stroke-miterlimit: 10;
      }

      .cls-4 {
        fill: #ffb888;
      }

      .cls-5 {
        fill: #fbe7be;
      }

      .cls-2 {
        filter: url(#drop-shadow-1);
      }

      .cls-6 {
        fill: #ff9147;
        filter: url(#drop-shadow-2);
      }

      .cls-7 {
        fill: url(#linear-gradient);
      }
    </style>
    <linearGradient id="linear-gradient" x1="200.57" y1="43.43" x2="50.08" y2="130.31" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#ffc187"/>
      <stop offset="1" stop-color="#fef4c8"/>
    </linearGradient>
    <filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
      <feOffset dx="4" dy="4"/>
      <feGaussianBlur result="blur" stdDeviation="4"/>
      <feFlood flood-color="#ffa761" flood-opacity=".6"/>
      <feComposite in2="blur" operator="in"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <filter id="drop-shadow-2" filterUnits="userSpaceOnUse">
      <feOffset dx="4" dy="4"/>
      <feGaussianBlur result="blur-2" stdDeviation="4"/>
      <feFlood flood-color="#ffa761" flood-opacity=".6"/>
      <feComposite in2="blur-2" operator="in"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <filter id="outer-glow-3" filterUnits="userSpaceOnUse">
      <feOffset dx="0" dy="0"/>
      <feGaussianBlur result="blur-3" stdDeviation="5"/>
      <feFlood flood-color="#fff083" flood-opacity=".75"/>
      <feComposite in2="blur-3" operator="in"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <circle class="cls-7" cx="125.33" cy="86.87" r="86.87"/>
  <circle class="cls-1" cx="170.46" cy="33.06" r="6.65"/>
  <circle class="cls-1" cx="76.18" cy="36" r="2.93"/>
  <circle class="cls-1" cx="112.05" cy="143.61" r="2.93"/>
  <circle class="cls-5" cx="203.97" cy="101.13" r="1.47"/>
  <rect class="cls-2" x="67.75" y="61.75" width="87.74" height="63.55" rx="5" ry="5"/>
  <path class="cls-4" d="m72.75,61.75h77.74c2.76,0,5,2.24,5,5v9.23h-87.74v-9.23c0-2.76,2.24-5,5-5Z"/>
  <rect class="cls-6" x="128.08" y="57.2" width="63.59" height="46.06" rx="2" ry="2" transform="translate(240.1 -79.64) rotate(90)"/>
  <circle class="cls-5" cx="159.87" cy="104.54" r="3.44"/>
  <path class="cls-3" d="m206.84,47.7c15.9,1.93,26.21,6.62,27.9,13.91,3.98,17.25-41.77,42.55-102.2,56.5-60.42,13.95-112.64,11.27-116.62-5.98-1.72-7.44,5.82-16.38,19.8-25.26"/>
</svg>