  /* You can add global styles to this file, and also import other style files */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  
  :root {
    --color-bg: #F9F9F9;
    /*
    --color-bg: linear-gradient(180deg, #FFFFFF 0%, #AEC6DC 100%);
  
    Controls the blob blur gradient colors within the main tag's svg 
    --top-right-blur-1: #20C6B7;
    --top-right-blur-2: #4D9ABF;
    --bttm-left-blur-1: #de3641;
    --bttm-left-blur-2: #e46b73;
    
    */
  }

  *{
    box-sizing: border-box;
  }
  
  body {
    background: var(--color-bg);
    font-family: "Montserrat", sans-serif;
    min-height: 100%;
    font-size: 1.125rem;
    line-height: 1.6;
  }

  main {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
  }

  a { 
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }