<div class="container">
  <!-- HEADER -->
  <div class="header">
    <div class="main-content d-flex flex-column flex-lg-row-reverse mb-4">
      <div class="mb-3">
        <img id="dan_snow" src="../assets/img/DanGirlAndSnow-square.jpg" alt="not thing :v"> 
      </div>
      <div class="d-flex flex-column align-items-lg-start align-items-center mr-auto">
        <div class="mt-2 mb-3" id="vote">
          <p>Hi! I'm Rin</p>
          <p>an UX/UI Designer</p>
        </div>     
        <div class="mb-3" id="header-description">
          <p class="text-center text-lg-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste dolore temporibus fuga, magnam fugiat doloremque voluptate!</p>
        </div>  
        <a type="button" id="contact_btn" class="rounded-pill" routerLink="/contact">Let's Talk<span class="ps-2"><img src="../assets/svg/right_arow.svg" alt="contact"></span></a>
      </div>
    </div>

    <div class="d-flex">
      <hr style="width: 2000px;">
      <div class="d-flex ms-2">
        <a href="https://www.behance.net/sonrin" target="_blank">
          <span class="main-icon-link mx-2"><i class="fa-brands fa-behance fa-xl"></i></span>
        </a>
        <a href="https://dribbble.com/SliverRay" target="_blank">
          <span class="main-icon-link mx-2"><i class="fa-brands fa-dribbble fa-xl"></i></span>
        </a>
        <a href="https://github.com/slivereye746" target="_blank">
          <span class="main-icon-link mx-2"><i class="fa-brands fa-github fa-xl"></i></span>
        </a>
      </div>
    </div>
  </div>

  <!-- SKILLS -->
  <div class="d-flex flex-column flex-lg-row resource-list align-items-center justify-content-center mt-5">
    <div class="skills-item d-flex flex-column align-items-center text-center m-2 mb-4 p-2">
      <svg width="180" height="180" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250.56 173.74">
        <defs>
          <style>
            .cls-1, .cls-2 {
              fill: #fff;
            }
  
            .cls-3 {
              fill: none;
              filter: url(#outer-glow-3);
              stroke: #f1f2ca;
              stroke-miterlimit: 10;
            }
  
            .cls-4 {
              fill: #ffb888;
            }
  
            .cls-5 {
              fill: #fbe7be;
            }
  
            .cls-2 {
              filter: url(#drop-shadow-1);
            }
  
            .cls-6 {
              fill: #ff9147;
              filter: url(#drop-shadow-2);
            }
  
            .cls-7 {
              fill: url(#linear-gradient);
            }
          </style>
          <linearGradient id="linear-gradient" x1="200.57" y1="43.43" x2="50.08" y2="130.31" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#ffc187"/>
            <stop offset="1" stop-color="#fef4c8"/>
          </linearGradient>
          <filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
            <feOffset dx="4" dy="4"/>
            <feGaussianBlur result="blur" stdDeviation="4"/>
            <feFlood flood-color="#ffa761" flood-opacity=".6"/>
            <feComposite in2="blur" operator="in"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="drop-shadow-2" filterUnits="userSpaceOnUse">
            <feOffset dx="4" dy="4"/>
            <feGaussianBlur result="blur-2" stdDeviation="4"/>
            <feFlood flood-color="#ffa761" flood-opacity=".6"/>
            <feComposite in2="blur-2" operator="in"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="outer-glow-3" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="0"/>
            <feGaussianBlur result="blur-3" stdDeviation="5"/>
            <feFlood flood-color="#fff083" flood-opacity=".75"/>
            <feComposite in2="blur-3" operator="in"/>
            <feComposite in="SourceGraphic"/>
          </filter>
        </defs>
        <circle class="cls-7" cx="125.33" cy="86.87" r="86.87"/>
        <circle class="cls-1" cx="170.46" cy="33.06" r="6.65"/>
        <circle class="cls-1" cx="76.18" cy="36" r="2.93"/>
        <circle class="cls-1" cx="112.05" cy="143.61" r="2.93"/>
        <circle class="cls-5" cx="203.97" cy="101.13" r="1.47"/>
        <rect class="cls-2" x="67.75" y="61.75" width="87.74" height="63.55" rx="5" ry="5"/>
        <path class="cls-4" d="m72.75,61.75h77.74c2.76,0,5,2.24,5,5v9.23h-87.74v-9.23c0-2.76,2.24-5,5-5Z"/>
        <rect class="cls-6" x="128.08" y="57.2" width="63.59" height="46.06" rx="2" ry="2" transform="translate(240.1 -79.64) rotate(90)"/>
        <circle class="cls-5" cx="159.87" cy="104.54" r="3.44"/>
        <path class="cls-3" d="m206.84,47.7c15.9,1.93,26.21,6.62,27.9,13.91,3.98,17.25-41.77,42.55-102.2,56.5-60.42,13.95-112.64,11.27-116.62-5.98-1.72-7.44,5.82-16.38,19.8-25.26"/>
      </svg>
      <p class="skills-title mt-3 mb-0">UI/UX</p>
      <p class="skills-des">Lorem ipsum dolor sit amet consectetur</p>
    </div>
    <div class="skills-item d-flex flex-column align-items-center text-center m-2 mb-4 p-2">
      <svg width="180" height="180" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250.56 173.74">
        <defs>
          <style>
            .cls-1, .cls-2 {
              fill: #fff;
            }
  
            .cls-3 {
              fill: none;
              filter: url(#outer-glow-3);
              stroke: #f1f2ca;
              stroke-miterlimit: 10;
            }
  
            .cls-4 {
              fill: #ffb888;
            }
  
            .cls-5 {
              fill: #fbe7be;
            }
  
            .cls-2 {
              filter: url(#drop-shadow-1);
            }
  
            .cls-6 {
              fill: #ff9147;
              filter: url(#drop-shadow-2);
            }
  
            .cls-7 {
              fill: url(#linear-gradient);
            }
          </style>
          <linearGradient id="linear-gradient" x1="200.57" y1="43.43" x2="50.08" y2="130.31" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#ffc187"/>
            <stop offset="1" stop-color="#fef4c8"/>
          </linearGradient>
          <filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
            <feOffset dx="4" dy="4"/>
            <feGaussianBlur result="blur" stdDeviation="4"/>
            <feFlood flood-color="#ffa761" flood-opacity=".6"/>
            <feComposite in2="blur" operator="in"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="drop-shadow-2" filterUnits="userSpaceOnUse">
            <feOffset dx="4" dy="4"/>
            <feGaussianBlur result="blur-2" stdDeviation="4"/>
            <feFlood flood-color="#ffa761" flood-opacity=".6"/>
            <feComposite in2="blur-2" operator="in"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="outer-glow-3" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="0"/>
            <feGaussianBlur result="blur-3" stdDeviation="5"/>
            <feFlood flood-color="#fff083" flood-opacity=".75"/>
            <feComposite in2="blur-3" operator="in"/>
            <feComposite in="SourceGraphic"/>
          </filter>
        </defs>
        <circle class="cls-7" cx="125.33" cy="86.87" r="86.87"/>
        <circle class="cls-1" cx="170.46" cy="33.06" r="6.65"/>
        <circle class="cls-1" cx="76.18" cy="36" r="2.93"/>
        <circle class="cls-1" cx="112.05" cy="143.61" r="2.93"/>
        <circle class="cls-5" cx="203.97" cy="101.13" r="1.47"/>
        <rect class="cls-2" x="67.75" y="61.75" width="87.74" height="63.55" rx="5" ry="5"/>
        <path class="cls-4" d="m72.75,61.75h77.74c2.76,0,5,2.24,5,5v9.23h-87.74v-9.23c0-2.76,2.24-5,5-5Z"/>
        <rect class="cls-6" x="128.08" y="57.2" width="63.59" height="46.06" rx="2" ry="2" transform="translate(240.1 -79.64) rotate(90)"/>
        <circle class="cls-5" cx="159.87" cy="104.54" r="3.44"/>
        <path class="cls-3" d="m206.84,47.7c15.9,1.93,26.21,6.62,27.9,13.91,3.98,17.25-41.77,42.55-102.2,56.5-60.42,13.95-112.64,11.27-116.62-5.98-1.72-7.44,5.82-16.38,19.8-25.26"/>
      </svg>
      <p class="skills-title mt-3 mb-0">Icon/Illustration</p>
      <p class="skills-des">Lorem ipsum dolor sit amet consectetur</p>
    </div>
    <div class="skills-item d-flex flex-column align-items-center text-center m-2 mb-4 p-2">
      <svg width="180" height="180" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250.56 173.74">
        <defs>
          <style>
            .cls-1, .cls-2 {
              fill: #fff;
            }
  
            .cls-3 {
              fill: none;
              filter: url(#outer-glow-3);
              stroke: #f1f2ca;
              stroke-miterlimit: 10;
            }
  
            .cls-4 {
              fill: #ffb888;
            }
  
            .cls-5 {
              fill: #fbe7be;
            }
  
            .cls-2 {
              filter: url(#drop-shadow-1);
            }
  
            .cls-6 {
              fill: #ff9147;
              filter: url(#drop-shadow-2);
            }
  
            .cls-7 {
              fill: url(#linear-gradient);
            }
          </style>
          <linearGradient id="linear-gradient" x1="200.57" y1="43.43" x2="50.08" y2="130.31" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#ffc187"/>
            <stop offset="1" stop-color="#fef4c8"/>
          </linearGradient>
          <filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
            <feOffset dx="4" dy="4"/>
            <feGaussianBlur result="blur" stdDeviation="4"/>
            <feFlood flood-color="#ffa761" flood-opacity=".6"/>
            <feComposite in2="blur" operator="in"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="drop-shadow-2" filterUnits="userSpaceOnUse">
            <feOffset dx="4" dy="4"/>
            <feGaussianBlur result="blur-2" stdDeviation="4"/>
            <feFlood flood-color="#ffa761" flood-opacity=".6"/>
            <feComposite in2="blur-2" operator="in"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="outer-glow-3" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="0"/>
            <feGaussianBlur result="blur-3" stdDeviation="5"/>
            <feFlood flood-color="#fff083" flood-opacity=".75"/>
            <feComposite in2="blur-3" operator="in"/>
            <feComposite in="SourceGraphic"/>
          </filter>
        </defs>
        <circle class="cls-7" cx="125.33" cy="86.87" r="86.87"/>
        <circle class="cls-1" cx="170.46" cy="33.06" r="6.65"/>
        <circle class="cls-1" cx="76.18" cy="36" r="2.93"/>
        <circle class="cls-1" cx="112.05" cy="143.61" r="2.93"/>
        <circle class="cls-5" cx="203.97" cy="101.13" r="1.47"/>
        <rect class="cls-2" x="67.75" y="61.75" width="87.74" height="63.55" rx="5" ry="5"/>
        <path class="cls-4" d="m72.75,61.75h77.74c2.76,0,5,2.24,5,5v9.23h-87.74v-9.23c0-2.76,2.24-5,5-5Z"/>
        <rect class="cls-6" x="128.08" y="57.2" width="63.59" height="46.06" rx="2" ry="2" transform="translate(240.1 -79.64) rotate(90)"/>
        <circle class="cls-5" cx="159.87" cy="104.54" r="3.44"/>
        <path class="cls-3" d="m206.84,47.7c15.9,1.93,26.21,6.62,27.9,13.91,3.98,17.25-41.77,42.55-102.2,56.5-60.42,13.95-112.64,11.27-116.62-5.98-1.72-7.44,5.82-16.38,19.8-25.26"/>
      </svg>
      <p class="skills-title mt-3 mb-0">Development</p>
      <p class="skills-des">Lorem ipsum dolor sit amet consectetur</p>
    </div>
  </div>
</div>

<!-- MY RECENT PROJECTS -->
<div class="main-SecondaryObject">
  <div class="main_heading">
    <p>My Recent Projects</p>
    <div class="rounded"></div>
  </div>
  <!-- Carousel -->
  <div id="projectCarousel" class="carousel slide d-flex flex-column" data-bs-ride="carousel"> 
    <div class="carousel-inner container">

      <div class="carousel-item active">
        <div class="d-flex flex-column flex-lg-row mb-3">
          <div class="project-image rounded">
            <img src="../assets/img/project 1.png" alt="">
          </div>
          <div class="d-flex flex-column ms-lg-4">
            <div class="mb-2 d-flex flex-row align-items-center"> 
              <div class="project-tagcolor"></div>
              <div class="ms-2 project-tag">NAME TAG</div>
            </div>
            <p class="project-title text-wrap: balance">Project Name Should Be A Little Long</p>
            <p class="project-description">Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur</p>
          </div>      
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex flex-column flex-lg-row mb-3">
          <div class="project-image rounded">
            <img src="../assets/img/DanGirlAndSnow-square.jpg" alt="">
          </div>
          <div class="d-flex flex-column ms-lg-4">
            <div class="mb-2 d-flex flex-row align-items-center"> 
              <div class="project-tagcolor"></div>
              <div class="ms-2 project-tag">NAME TAG</div>
            </div>
            <p class="project-title text-wrap: balance">Project Name Should Be A Little Long</p>
            <p class="project-description">Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur</p>
          </div>      
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex flex-column flex-lg-row mb-3">
          <div class="project-image rounded">
            <img src="../assets/img/project 1.png" alt="">
          </div>
          <div class="d-flex flex-column ms-lg-4">
            <div class="mb-2 d-flex flex-row align-items-center"> 
              <div class="project-tagcolor"></div>
              <div class="ms-2 project-tag">NAME TAG</div>
            </div>
            <p class="project-title text-wrap: balance">Project Name Should Be A Little Long</p>
            <p class="project-description">Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur</p>
          </div>      
        </div>
      </div>
    </div>
    <div class="carousel-indicators">
      <img src="../assets/img/project 1.png" data-bs-target="#projectCarousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1" class="active rounded">
      <img src="../assets/img/DanGirlAndSnow-square.jpg" data-bs-target="#projectCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="rounded">
      <img src="../assets/img/project 1.png" data-bs-target="#projectCarousel" data-bs-slide-to="2" aria-label="Slide 3"  class="rounded">
    </div>
  </div>
</div>

<!-- NUMBERS  -->
<div class="worknumber mt-0 mb-4 py-4">
  <div class="container worknumber d-flex justify-content-center">
    <div class="worknumber-box mx-2 text-center">
      <p class="m-0 p-0 fw-bold worknumber-num">1.5 YEARS</p>
      <p class="m-0 text-break worknumber-text">Support for commercial graphic design</p>
    </div>
    <div class="worknumber-box mx-2 text-center">
      <p class="m-0 p-0 fw-bold worknumber-num">80%</p>
      <p class="m-0 text-break worknumber-text">Positive feedback rate from customers</p>
    </div>
    <div class="worknumber-box mx-2 text-center">
      <p class="m-0 p-0 fw-bold worknumber-num">1000+</p>
      <p class="m-0 text-break worknumber-text">Designs done</p>
    </div>
  </div>
</div>
<!-- Lastest Post -->
<div class="container">
  <div class="main_heading">
    <p>Lastest Post</p>
    <div class="rounded"></div>
  </div>  
  <p class="main_heading_desciption text-center">Something fun I found on internet!</p>

  <div class="post d-flex flex-column align-items-center">
    <div class="d-flex flex-column flex-lg-row">
      <div class="post-item m-3 rounded">
        <img src="../assets/img/DanGirlAndSnow-square.jpg" class="rounded-top" width="100%" height="60%" alt="">
        <p class="post-item-title mx-3 mt-2 mb-0">Name</p>
        <p class="post-item-description mx-3 mt-0">Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur</p>
      </div>
      <div class="post-item m-3 rounded">
        <img src="../assets/img/DanGirlAndSnow-square.jpg" class="rounded-top" width="100%" height="60%" alt="">
        <p class="post-item-title mx-3 mt-2 mb-0">Name</p>
        <p class="post-item-description mx-3 mt-0">Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur</p>
      </div>
    </div>
    <div  class="d-flex flex-column  flex-lg-row"> 
      <div class="post-item m-3 rounded">
        <img src="../assets/img/DanGirlAndSnow-square.jpg" class="rounded-top" width="100%" height="60%" alt="">
        <p class="post-item-title mx-3 mt-2 mb-0">Name</p>
        <p class="post-item-description mx-3 mt-0">Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur</p>
      </div>
      <div class="post-item m-3 rounded">
        <img src="../assets/img/DanGirlAndSnow-square.jpg" class="rounded-top" width="100%" height="60%" alt="">
        <p class="post-item-title mx-3 mt-2 mb-0">Name</p>
        <p class="post-item-description mx-3 mt-0">Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur</p>
      </div>
    </div>
  </div>
</div>



<!--
  <div class="container d-lg-none" >
  <p class="main_heading mb-4">Lastest Post</p>  
  <p class="project-description text-center"><i>Something fun I found on internet!</i></p>
  <div class="row overflow-x-auto scrolling-wrapper row flex-row flex-nowrap " appScrollWithMouse>
    <div class="blog-item m-2 rounded mb-3"></div>
    <div class="blog-item m-2 rounded mb-3"></div>
    <div class="blog-item m-2 rounded mb-3"></div>
    <div class="blog-item m-2 rounded mb-3"></div>
    <div class="blog-item m-2 rounded mb-3"></div>
  </div>
</div>
-->