<div class="container">
  <div class="header">
    <div class="main-content flex-col">
      <div>
        <img id="dan_snow" src="../assets/img/DanGirlAndSnow-square.jpg" alt="not thing :v"> 
      </div>
      <div class="d-flex flex-column align-items-lg-start align-items-center mr-auto">
        <div id="vote">
          <p>Nguyen S. Rin</p>
          <p>UX/UI Designer</p>
        </div>     
        <div id="header-description">
          <p class="text-break">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste dolore temporibus fuga, magnam fugiat doloremque voluptate recusandae facere aliquid totam nam quasi nobis optio praesentium, esse illum animi vitae error!</p>
        </div>  
        <button type="button" id="contact_btn">Let's Talk <span><img src="../assets/svg/right_arow.svg" alt="contact"></span></button>
      </div>
    </div>
    <div class="d-flex">
      <hr style="width: 2000px;">
      <div class="d-flex ms-2">
        <a href="">
          <span class="main-icon-link mx-2"><i class="fa-brands fa-behance fa-xl"></i></span>
        </a>
        <a href="">
          <span class="main-icon-link mx-2"><i class="fa-brands fa-dribbble fa-xl"></i></span>
        </a>
        <a href="">
          <span class="main-icon-link mx-2"><i class="fa-brands fa-github fa-xl"></i></span>
        </a>
      </div>
    </div>
    <div class="d-flex flex-column flex-lg-row resource-list align-items-center justify-content-center mt-5">
      <div class="skills-item d-flex flex-column align-items-center text-center m-2 mb-4 p-2">
        <img style="background-color: gray; width:120px; height: 120px;">
        <p class="skills-title mt-3 mb-0">Web Apps & Corporate Sites</p>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div class="skills-item d-flex flex-column align-items-center text-center m-2 mb-4 p-2">
        <img style="background-color: gray; width: 120px; height: 120px;">
        <p class="skills-title mt-3 mb-0">Mobile App Design</p>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div class="skills-item d-flex flex-column align-items-center text-center m-2 mb-4 p-2">
        <img style="background-color: gray; width: 120px; height: 120px;">
        <p class="skills-title mt-3 mb-0">Front End Development</p>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
    </div>
    <p class="main_heading">MY RECENT PROJECTS</p>
    <div class="d-flex flex-column flex-lg-row resource-list align-items-center justify-content-center">
      <div class="w-25">
        <div>list dọc</div>
      </div>
      <div class="w-50">
        <p class="skills-title mt-3 mb-0">Project Name</p>
        <p>Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur</p>
        <img style="background-color: gray; width:420px; height: 420px;" src="" alt="">
      </div>
    </div>
    <div class="skills text-center mt-5">
      <div class="title-lv1">Lorem ipsum dolor sit amet consectetur</div> 
      <div class="title-description">Flexible, Interactive Traing For All Levels</div>
      <div class="title-semi-description">learn at your own pace from anywhere in the world</div>
    </div>

    <div>list number</div>
    <div>contact</div>

  </div>
</div>
