.main-content {
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.main_heading{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_heading p {
  font-size: 30px;
  font-weight: 600;
  color: #201c15;
}
.main_heading div {
  width: 120px;
  height: 3px;
  background-color: #FDA000;
}

.main_heading_desciption{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.main-SecondaryObject {
  padding-bottom: 34px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(173, 173, 173, 0.2);
}

.header #dan_snow {
  width: 260px;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 50%;
  box-shadow: rgba(115, 115, 121, 0.2) 0px 4px 20px 0px;
}

.main-content{
  padding: 10px 0;
}
.main-content #vote p{
  font-size: 32px;
  margin: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.main-content #header-description {
  font-style: italic;
  font-size: 14px;
  color: #666666;
}

.main-content #header-description p{
  font-weight:normal;
  width: 100%; 
}
         
#contact_btn {
  background-image: linear-gradient(to right, #ff6f55 0%, #F09819  51%, #FF512F  100%);
  margin: 10px;
  padding: 10px 35px;
  text-align: center;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffffff;
  border-radius: 10px;
  display: block;
   
}

#contact_btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(95, 95, 95, 0.2);
}
         

#contact_btn img {
  width: 1.2em;
  opacity: 0.9;
/*
  margin-left: 0.5em; */
}

.main-icon-link {
  font-size: 1em;
  color: #666666;
  transition: color 0.3s ease;
}
.main-icon-link:hover {
  color: #FDA000;
}

.resource-list ul{
  list-style: none;
}

.resource-list span{
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
}

.resource-list ul li img{
  height: 80px;
  width: auto;
}

/* Skills */
.skills-item {
  width: 260px;
  height: 280px;
}
.skills-title {
  font-size: 18px;
  font-weight: 600;
  color: #212529;
}
.skills-des {
  color: #626881;
  font-size: 16px;
}

/* Projects */
.project-image {
  width: 100%;
  height: 230px;
  position: relative;
  overflow: hidden;
}
.project-image img{
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.project-tagcolor {
  width: 24px;
  height: 12px;
  background-color: #FFA415;
  margin-top: 10px;
}
.project-tag {
  font-size: 12px;
  font-weight: 600;
  color: #6d6d6d;
  margin-top: 10px;
}
.project-title {
  font-size: 22px;
  font-weight: 600;
}

.carousel-indicators {
  position: relative;
  margin: 0;
  padding: 0;
}
.carousel-indicators img{
  width: 100px;
  height: 60px;
  object-fit: cover;
  margin: 0 8px;
  padding: 0;
  filter: brightness(50%);
}

.carousel-indicators img.active{
  filter: brightness(100%);
}




/* List Number */
.worknumber {
  background-color: #EEEEEE;
  color: #FFA71E;
}
.worknumber .worknumber-box {
  width: 10rem;
}
.worknumber .worknumber-num {
  font-size: 20px;
}
.worknumber .worknumber-text {
  font-size: 12px;
}

/* Posts */
.post-item {
  cursor: pointer;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.post-item:hover{
  box-shadow: 2px 8px 8px 2px rgba(173, 173, 173, 0.2);
  transform: translateY(-2px); 
}
.post-item img{
  object-fit: cover;
}
.post-item-title{
  font-weight: 500;
}
.post-item-description{
  font-size: 16px;
  color: #666666;
}



@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) { 
  .container {
    width: 1170px;
  }
  .header #dan_snow {
    width: 400px;
    padding: 20px;
  }

  .main-content {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .main-content #vote p{
    font-size: 60px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 400;
    color: #000000;
    text-align: left;
  }
  .main-content #header-description {
    text-align: left;
    width: 620px;
  }
  .main-content #header-description p{
    font-size: 16px;
  }

  /* Projects */
  .project-image {
    width: 65%;
    height: 380px;
  }
  .project-tagcolor {
    width: 26px;
    height: 12px;
    background-color: #FFA415;
  }
  .project-tag {
    font-size: 14px;
  }
  .project-title {
    font-size: 28px;
  }
  .project-description {
    font-size: 18px;
  }
  .carousel-indicators img{
    width: 160px;
    height: 100px;
  }

  /* List Number */
  .worknumber .worknumber-box {
    width: 14rem;
  }
  .worknumber .worknumber-num {
    font-size: 36px;
  }
  .worknumber .worknumber-text {
    font-size: 16px;
  }
  
} 
