<div class="container">
  <div class="header">
    <div class="main-content flex-col">
      <div>
        <img id="dan_snow" src="../assets/img/DanGirlAndSnow-square.jpg" alt=""> 
      </div>
      <div class="d-flex flex-column align-items-lg-start align-items-center mr-auto">
        <div id="vote">
          <p>Nguyen S. Rin</p>
          <p>UX/UI Designer</p>
        </div>     
        <div id="header-description">
          <p class="text-break">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste dolore temporibus fuga, magnam fugiat doloremque voluptate recusandae facere aliquid totam nam quasi nobis optio praesentium, esse illum animi vitae error!</p>
        </div>  
        <button type="button" id="contact_btn">Let's Talk <span><img src="../assets/svg/right_arow.svg" alt="contact"></span></button>
      </div>
    </div>
    <div class="flex">
      <hr style="width: 2000px;">
      <div class="flex ms-2">
        <a href="">
          <span class="main-icon-link mx-2"><i class="fa-brands fa-behance fa-xl"></i></span>
        </a>
        <a href="">
          <span class="main-icon-link mx-2"><i class="fa-brands fa-dribbble fa-xl"></i></span>
        </a>
        <a href="">
          <span class="main-icon-link mx-2"><i class="fa-brands fa-github fa-xl"></i></span>
        </a>
      </div>
    </div>
</div>
<div>
  <div class="title">
    <div class="title-lv1">Lorem ipsum dolor sit amet consectetur</div> 
    <div class="title-description">Flexible, Interactive Traing For All Levels</div>
    <div class="title-semi-description">learn at your own pace from anywhere in the world</div>
  </div>
  <div class="resource-list">
    <ul>
      <li>
        <a href="#">Item 1</a>
      <li>
        <a href="#">Item 2</a>
      </li>
      <li>
        <a href="#">Item 3</a>
      </li>
    </ul>
  </div>
  <div class="bttns">
    <a href="#" class="bttn primary">Blue ligh btt</a>
    <a href="#" class="bttn secondary">Border btt</a>
  </div>
</div>
</div>